<div>
    <h2>
        <span>Commits</span>
        <button class="btn btn-primary float-right jh-create-entity create-commit" [routerLink]="['/', { outlets: { popup: ['commit-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Commit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="commits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>User</span></th>
            <th><span>Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commit of commits ;trackBy: trackId">
                <td><a [routerLink]="['../commit', commit.id ]">{{commit.id}}</a></td>
                <td>{{commit.user}}</td>
                <td>{{commit.date | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../commit', commit.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'commit/'+ commit.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'commit/'+ commit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
